---
layout: layouts/layout.njk
---

{#%- from "components/calendar.njk" import calendar -%#}
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0"
/>

{# header #}
<div class="flex w-full items-center justify-between p-4">
  <h1 class="text-lg font-bold leading-6">
    Satakuntalainen <br />
    Osakunta
  </h1>
  <span class="material-symbols-outlined">menu</span>
</div>

<img class="" src="/img/suursitsit.png" />

<div class="flex flex-col items-start gap-8 bg-[#E7F0FF] px-4 py-8">
  <h1 class="text-4xl font-bold">
    Ystäviä, tapahtumia <br />
    & koti Kampissa
  </h1>
  <button
    class="align-center flex flex-row gap-4 bg-black px-4 py-3 text-white"
  >
    Liity osakuntaan
    <span class="material-symbols-outlined"> east </span>
  </button>
</div>

<div class="flex flex-col gap-3 p-4">
  <h2 class="text-2xl font-semibold">Tervetuloa satolaisten pariin!</h2>
  <p class="text-sm">
    Satakuntalainen Osakunta on Helsingin seudulla opiskelevien satakuntalaisten
    ja satakuntalaismielisten korkeakouluopiskelijoiden yhteisö.
  </p>
  <p class="text-sm">
    Tarjoamme jäsenillemme toimintaa, tapahtumia, palveluita ja kodin keskellä
    Kamppia.
  </p>
</div>

<div class="flex flex-col gap-6 p-10">
  {% for card in [{ img: "sisapiha.png", title: "Satakuntatalo", body:
  "Satalinnan Säätiön vuokraamat asunnot ovat satakuntalaisille
  korkeakouluopiskelijoille tarkoitettuja vuokratasoltaan kohtuullisia
  opiskelija-asuntoja.", button: "Hae asuntoa" }, { img: "kesatanssit.png",
  title: "SatOlla tapahtuu", body: "Viikottain ja vuosittain – tutustu
  tapahtumiin ja tule mukaan!", button: "Tapahtumakalenteri" }, { img:
  "kiltahuone.png", title: "Yhteinen olohuone", body: "Kuntosalilta saunan
  kautta kattoterassille istumaan iltaa – Satakuntatalossa sijaitsevat tilamme
  ovat vapaassa käytössä ympäri vuorokauden.", button: "Tutustu tiloihin" }, {
  img: "karhunkierros.png", title: "Karhunkierros", body: "Satolaisten oma
  lehti. Tule mukaan toimitukseen!", button: "Selaa lehtiä" }] %}
  <div class="flex flex-col items-start gap-5 pb-7 shadow-md">
    <img class="w-full" src="/img/{{ card.img }}" />
    <div class="mx-7">
      <h4 class="mb-2 text-lg font-bold">{{ card.title }}</h4>
      <p class="text-xs">{{ card.body }}</p>
    </div>
    <button
      class="align-center mx-7 flex flex-row gap-4 bg-black px-4 py-2 text-white"
    >
      <span class="font-bold"> {{ card.button }} </span>
      <span class="material-symbols-outlined"> east </span>
    </button>
  </div>
  {% endfor %}
</div>

<img class="" src="/img/valkolakit.png" />

<div class="flex w-full flex-col items-start gap-5 bg-[#E7F0FF] p-4">
  <div>
    <h4 class="text-lg font-semibold">Ota yhteyttä</h4>
    <p class="text-xs">
      Meihin voi olla yhteydessä matalalla kynnyksellä! Alla olevista linkeistä
      pääset yhteydenottolomakkeelle. Pyrimme vastaamaan x ajan kuluessa.
    </p>
  </div>

  {% for button in ["Postia hallitukselle", "Yhteystiedot", "Häirintälomake"] %}
  <button
    class="align-center flex flex-row gap-4 bg-black px-4 py-2 text-white"
  >
    {{ button }}
    <span class="material-symbols-outlined"> east </span>
  </button>
  {% endfor %}
</div>

<div class="flex w-full flex-col gap-10 bg-black px-4 py-8 text-white">
  <div>
    <h2 class="text-lg font-semibold">Seuraa meitä</h2>
    <div class="flex flex-col px-4 text-xs leading-6">
      <span>Instagram</span>
      <span>Facebook</span>
      <span>Twitter</span>
      <span>Youtube</span>
    </div>
  </div>
  <div class="flex flex-col">
    <h1 class="text-lg font-semibold">SATAKUNTALAINEN OSAKUNTA</h1>
    <span>LAPINRINNE 1 E1</span>
    <span>00180 HELSINKI</span>
    <span>SATO@SATAKUNTATALO.FI</span>
    <span>Y-TUNNUS: 2593042-3</span>
  </div>
  <img class="w-10 fill-white" src="/img/karhu.svg" />
</div>
{#{ calendar() }#}
