---
  pagination:
    data: locales
    size: 1
    alias: locale
  permalink: "{{ locale.lang }}/{{ page.filePathStem }}.html"
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" lang="{{ locale.lang }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="mx-auto flex max-w-xs flex-row flex-wrap">
      {{ content | safe }}
    </div>
  </body>
</html>
