html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  background-color: var(--main-color-light-blue);
  color: white;
}

:root {
  --main-color-blue: rgb(0, 82, 106);
  --main-color-light-blue: rgb(77, 133, 151);
  --main-color-yellow: rgb(240, 202, 88);

  --secondary-color-field: rgb(244, 217, 138);
  --secondary-color-brown: rgb(201, 180, 140);
  --secondary-color-pink: rgb(255, 204, 203);
  --secondary-color-grey: rgb(241, 243, 244);

}