.container {
    width: 100%;
    background-color: var(--main-color-blue);
    padding: 0px 32px 0px 32px;

    display: flex;
    flex-direction: row;
}

.container button {
    border: none;
    padding: 32px;

    background-color: inherit;
}

.container button:hover {
    background-color: var(--main-color-light-blue)
}