.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
  background-color: var(--blue100);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

.headerText {
  width: 55%;
}

.eventsSection {
  background-color: var(--blue100);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.eventsContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.hCard {
  display: flex;
  border-radius: 1rem;
  background-color: var(--blue300);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  color: var(--white);
}

.cardTitle {
  font-size: 2rem;
  font-weight: 500;
}

.buttonPink {
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--pink);
  color: var(--blue300);
}

.cardMedia {
  border-radius: 1rem;
  width: 50%;
}

.meetingsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  margin-bottom: 5rem;
}

.footer {
  width: 100%;
  height: 20rem;
  background-color: var(--blue300);
}
