.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
  background-color: var(--blue100);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

.headerText {
  width: 55%;
}

.eventsSection {
  background-color: var(--blue100);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.eventsContainer,
.meetingsContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.meetingsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  margin-bottom: 5rem;
}

@media (max-width: 431px) {
  .headerContainer {
    width: 90%;
  }

  .headerText {
    width: 80%;
  }

  .eventsContainer,
  .meetingsContainer {
    width: 90%;
  }
}
