.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue100);
  width: 100%;
  height: 45rem;
  padding-top: 1rem;
}

.h2 {
  font-size: 3rem;
  font-weight: 600;
  width: 20%;
  text-align: center;
}

.heroBtn {
  border-radius: 50px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--blue300);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0 5rem 0;
}

.colorCard1,
.colorCard2,
.colorCard3 {
  color: var(--white);
  width: 15rem;
  border-radius: 0.5rem;
}

.colorCard1 {
  background-color: var(--blue200);
}
.colorCard2 {
  background-color: var(--green);
}
.colorCard3 {
  background-color: var(--orange200);
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}

.cardLink {
  height: 0px;
  margin: 0;
  padding: 0;
}

.livingInfo {
  background-color: var(--blue300);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
  gap: 4rem;
}

.livingArticle {
  color: var(--white);
  width: 35%;
}

.livingTitle {
  font-weight: 500;
  font-size: 2rem;
}

.infoBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--blue100);
  color: var(--blue300);
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  margin: 5rem 0 5rem 0;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.newsCard {
  width: 40%;
}

.newCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cardTitle {
  font-weight: 700;
}

.cardDescription {
  font-size: 0.8rem;
}

/* Calendar */
.calendarSection {
  background-color: var(--orange100);
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.sectionContainer {
  width: 70%;
  height: 100%;
}

/* Carousel */
.karhunkierros {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5rem 0 5rem 0;
}

.carouselContainer {
  margin: 1rem 0 1rem 0;
}

/* Contact */
.contact {
  background-color: var(--blue100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.contactSectionContainer {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contactInfo {
  width: 40%;
}

/* footer */
.footer {
  width: 100%;
  height: 20rem;
  background-color: var(--blue300);
}
