.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue100);
  width: 100%;
  height: 45rem;
  padding-top: 1rem;
}

.h2 {
  font-size: 3rem;
  font-weight: 600;
  width: 20rem;
  text-align: center;
  color: var(--blue300);
}

.heroBtn {
  border-radius: 50px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--blue300);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 70%;
  max-width: 100%;
  margin: 5rem 0;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.livingInfo {
  background-color: var(--blue300);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
  gap: 4rem;
}

.livingArticle {
  color: var(--white);
  width: 35%;
}

.livingTitle {
  font-weight: 500;
  font-size: 2rem;
}

.aino {
  max-width: 40%;
  height: auto;
}

.infoBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--blue100);
  color: var(--blue300);
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  margin: 5rem 0 5rem 0;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 1.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0.5rem;
}

.newsCard {
  min-width: 48%;
  width: 50%;
}

.newCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cardTitle {
  font-weight: 700;
}

.cardDescription {
  font-size: 0.8rem;
}

/* Calendar */
.calendarSection {
  background-color: var(--pink);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.sectionContainer {
  width: 70%;
  height: 100%;
}

.calendarFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendarLegend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.legendItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
}

.legendGreen {
  background-color: #a09c44;
  width: 20px;
  height: 20px;
  border-radius: 10rem;
}

.legendBlue {
  background-color: var(--blue300);
  width: 20px;
  height: 20px;
  border-radius: 10rem;
}

.legendOrange {
  background-color: #ff8a57;
  width: 20px;
  height: 20px;
  border-radius: 10rem;
}

/* Carousel */
.karhunkierros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.carouselContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0 1rem 0;
  gap: 1rem;
}

/* Contact */
.contact {
  background-color: var(--blue100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.contactSectionContainer {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contactInfo {
  width: 40%;
  color: var(--blue300);
}

/* footer */
.footer {
  width: 100%;
  height: 20rem;
  background-color: var(--blue300);
}

@media (max-width: 1050px) {
  .contactAside {
    width: 35%;
    height: auto;
  }
}

@media (max-width: 821px) {
  .livingArticle {
    width: 70%;
  }

  .aino {
    display: none;
  }

  .newsCard {
    min-width: 55%;
  }

  .heroBtn {
    font-size: 0.7rem;
  }

  .infoBtn {
    font-size: 0.7rem;
  }
}

@media (max-width: 431px) {
  .h2 {
    font-size: 2.5rem;
  }

  .cards,
  .news,
  .sectionContainer,
  .carouselContainer,
  .contactSectionContainer {
    width: 90%;
  }

  .cards {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
  }

  .cardContainer {
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
  }

  /* Calendar */
  .calendarFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .calendarLegend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    font-size: 0.8rem;
  }

  .contactInfo {
    width: 100%;
    gap: 0.25rem;
  }

  .contactAside {
    display: none;
  }
}
