.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
  background-color: var(--blue100);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.headerText {
  width: 70%;
}

.magazines {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin: 5rem 0;
  gap: 2rem;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.magazineCard {
  color: var(--blue300);
  width: 15rem;
  border-radius: 0.5rem;
  background-color: var(--blue100);
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}

.cardLink {
  height: 0px;
  margin: 0;
  padding: 0;
}

.footer {
  width: 100%;
  height: 20rem;
  background-color: var(--blue300);
}
