.infoSection {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.subSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.infoContainer {
  width: 45%;
}

.infoBtn {
  border-radius: 50px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--blue300);
  gap: 0.5rem;
}

.imageContainer {
  width: 45%;
}

.sectionImage {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.footer {
  width: 100%;
  height: 20rem;
  background-color: var(--blue300);
}

@media (max-width: 1050px) {
}

@media (max-width: 821px) {
  .sectionImage {
    display: none;
  }

  .imageContainer {
    width: 0%;
  }

  .infoSection {
    justify-content: flex-start;
  }

  .infoContainer {
    width: 100%;
  }
}

@media (max-width: 645px) {
}

@media (max-width: 431px) {
  .infoSection {
    width: 90%;
  }
}
