---
layout: layouts/layout.njk
---

<script src="../components/Gallery.js"></script>
<link href="../components/Gallery.css" rel="stylesheet" />

<div>
  <h1>Galleria</h1>
  <gallery-component></gallery-component>
</div>
